

 <header id="header" class="header header-hide">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#body" class="scrollto"><span>W</span>orldTransit</a></h1>
      </div>

       <nav id="nav-menu-container">
        <ul class="nav-menu">
            {% if user is None %}
            <li class="menu-active"><a href="{% url 'home' %}">Home</a></li>
            <li id="a4"><a href="{% url 'blog:login' %}">Log In</a></li>
            <li id="a5"><a href="{% url 'blog:createaccount' %}">create count</a></li>
            {% else %}
            <li class="menu-active"><a href="{% url 'home' %}">{{ user.name }}</a></li>
            <li id="a1"><a href="{% url 'blog:questionResponse' %}" >Questions</a></li>
            <li id="a2"><a href="{% url 'blog:newquestions' %}"  >New Questions</a></li>
            <li id="a6"><a href="{% url 'blog:logout' %}">Log out</a></li>
            {% endif %}
        </ul>
      </nav>

    </div>
  </header>
