{% extends 'blog/layouts/base.html' %}

        {% load static %}
     {% block content %}


<section id="get-started" class="padd-section text-center wow fadeInUp">

    <div class="container">
      <div class="section-title text-center">

        <h2>Supprimer</h2>
          <p>êtes vous sur de vouloir supprimer ce sujet </p>
          <button type="submit" class="btn btn-success" ><a href = "{% url 'blog:useraccount' %}"  ;>OUI</a></button>
          <button type="submit" class="btn btn-success" ><a href = "{% url 'blog:useraccount' %}"  ;>NON</a></button>
        <p class="separator"><hr> .</p>

      </div>
    </div>
    </div>
    </section>

    </body>
</html>
{% endblock %}