{% extends 'blog/layouts/base.html' %}

        {% load static %}
     {% block content %}
<html lang="fr">

    <meta charset="UTF-8">
    <title>questionResponse</title>



<section id="get-started" class="padd-section text-center wow fadeInUp">

    <div class="container">
      <div class="section-title text-center">

        <h2>Questions ainsi que (ca) ou c'est réponses </h2>
        <p class="separator"><hr> .</p>

      </div>
    </div>
    <div class="container">
      <div class="row">
          <div class="col-md-6 col-lg-12">
              <div class="feature-block">
                  {% for i in quest %}

                  <h3>{{ i.title }}</h3>
                  <h4>{{i.author}}</h4>
                  <p>{{ i.content }}</p>
                  <p>{{i.publishing_date}}</p>
                  {% if not forloop.last %}
                  <hr>
                  {% endif %}
                  {% empty %}
                  {% endfor %}
              </div>
          </div>
      </div>
    </div>




    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-12">
                <div class="feature-block">
                    <h4>Reponses</h4>
                    {% for i in resp %} {% for k in i %}
                    <h4>{{ k.author }}</h4>
                    <p>{{ k.content }}</p>
                    <p>{{k.publishing_date}}</p>
                    {% if not forloop.last %}
                    <hr>
                    {% endif %}
                    {% empty %}
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-md-8">
          <div class="form">
             <form action="{% url 'blog:questionResponse' %}" method="post" role="form" class="contactForm" >
               {% csrf_token %}
              <div class="form-group">
                <textarea class="form-control" name="reponse" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="réponse  ici !"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><input type="submit" value="Envoyer" /></div>
            </form>
          </div>
        </div>
</section>


</html>
{% endblock %}