{% extends 'layouts/base.html' %}

        {% load static %}
     {% block content %}
<html lang="fr">

    <meta charset="UTF-8">
    <title>questionResponse</title>



<section id="get-started" class="padd-section text-center wow fadeInUp">

    <div class="container">
      <div class="section-title text-center">

        <h2>Questions ainsi que (ca) ou c'est réponses </h2>
        <p class="separator"><hr> .</p>

      </div>
    </div>
    <div class="container">
      <div class="row">
          <div class="col-md-6 col-lg-12">
              <div class="feature-block">
                  <h4>Question</h4>
                  {% for i in quest %}
                  <p>{{ i }}</p>
                  {% if not forloop.last %}
                  <hr>
                  {% endif %}
                  {% empty %}
                  {% endfor %}
              </div>
          </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-12">
                <div class="feature-block">
                    <h4>Reponses</h4>
                    {% for i in resp %} {% for k in i %}
                    <p>{{ k }}</p>
                    {% if not forloop.last %}
                    <hr>
                    {% endif %}
                    {% empty %}
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</section>


</html>
{% endblock %}