{% extends 'blog/layouts/base.html' %}

        {% load static %}
     {% block content %}


<section id="get-started" class="padd-section text-center wow fadeInUp">

    <div class="container">
      <div class="section-title text-center">

        <h2>Vos sujets </h2>
        <p class="separator"><hr> .</p>

      </div>
    </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-12">
                <div class="feature-block">
                    {% for i in quest %} {% for k in i %}
                    <div>
                    <label>Titre: {{ k.title }}</label>
                    </div>
                    <div>
                    <label>Questions: {{ k.content }}</label>
                    <p>{{k.publishing_date}}</p>
                    </div>
                    <button type="submit" class="btn btn-success" ><a href = "{% url 'blog:questionResponse' %}"  ;>Voir</a></button>
                    <button type="submit" class="btn btn-success" ><a href = ""  ;>Modifier</a></button>
                    <button type="submit" class="btn btn-success" ><a href = "{% url 'blog:delete' %}"  ;>Supprimer</a></button>
                    {% if not forloop.last %}
                    <hr>
                    {% endif %}
                    {% empty %}
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</section>

    </body>
</html>
{% endblock %}