{% extends 'layouts/base.html' %}

        {% load static %}
     {% block content %}
<html lang="fr">

    <meta charset="UTF-8">
    <title>questionResponse</title>



<section id="get-started" class="padd-section text-center wow fadeInUp">

    <div class="container">
      <div class="section-title text-center">

        <h2>Vos sujets non résolus </h2>
        <p class="separator"><hr> .</p>

      </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-12">
                <div class="feature-block">
                    {% for i in quest %} {% for k in i %}
                    <h4>{{ k.author }}</h4>
                    <p>{{ k.content }}</p>
                    <p>{{k.publishing_date}}</p>
                    {% if not forloop.last %}
                    <hr>
                    {% endif %}
                    {% empty %}
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-12">
                <div class="feature-block">
                  <h2>Sign up</h2>
                  <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                      <p>
                        {{ field.label_tag }}<br>
                        {{ field }}

                        {% for error in field.errors %}
                          <p style="color: red">{{ error }}</p>
                        {% endfor %}
                      </p>
                    {% endfor %}
                    <button type="submit">Sign up</button>
                  </form>
                </div>
            </div>
        </div>
</div>


</html>
{% endblock %}