

 <header id="header" class="header header-hide">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#body" class="scrollto"><span>W</span>orldTransit</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="home">Home</a></li>
          <li><a href = "/blog/questionResponse" >Questions</a></li>
            <li><a href="/blog/newquestions">New Questions</a></li>
          <li><a href="/blog/useraccount">User Account</a></li>
            <li><a href="/blog/login">Log In</a></li>
          <li><a href="/blog/login">Log Out</a></li>
          </li>
        </ul>
      </nav><!-- #nav-menu-container -->

    </div>
  </header><!-- #header -->
